<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test-Result</title>
    <style>
        #result{
            text-align: center;
            font-size: 60px;
        }
    </style>
</head>
<body>
    <div id="result">
        <p id="result-text">English score: <%= correct_eng %> out of <%= len %></p>
        <p id="result-text">Bengali score: <%= correct_beng %> out of <%= len %></p>
        <p id="result-text">Average English response time: <%= eng_response %> ms</p>
        <p id="result-text">Average Bengali response time: <%= beng_response %> ms</p>

    </div>
</body>
</html>

